<html>

<head>
  <style>
    .footer {
      position: static;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #181818;
      text-align: center;
    }
  </style>
</head>

<body>

  <div class="footer">
    <br>
    <br>
    <br>

  </div>

</body>

</html>