<html>

<head>
    <style>
        /* Add a black background color to the top navigation */
        .topnav {
            background-color: #202023;
            overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
            float: right;
            display: inli;
            color: #f2f2f2;
            text-align: center;
            padding: 18px 23px;
            text-decoration: none;
            font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
            text-decoration: none;
        }

        /* Add an active class to highlight the current page */
        .active {
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
        }

        /* Hide the link that should open and close the topnav on small screens */
        .topnav .icon {
            display: none;
            text-decoration: none;


        }

        h3 {
            padding-left: 40px;
            float: left;
            color: white;

        }
    </style>


</head>

<body>

    <div class="topnav" id="myTopnav">


        <h3> <strong> IT SHOP </strong></h3>
        <a href="./edit">EDIT FORMS</a>
        <a href="./contact">CONTACT US</a>
        <a href="./shop">SHOP</a>
        <a href="./about">ABOUT</a>
        <a href="./">HOME</a>


    </div>
</body>

</html>